@font-face {
  font-family: 'Bellota';
  src: url('../assets/fonts/BellotaText-Regular.ttf');
  src: url('../assets/fonts/BellotaText-Regular.eot') format('embedded-opentype'),
      url('../assets/fonts/BellotaText-Regular.woff2') format('woff2'),
      url('../assets/fonts/BellotaText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$bg-color: rgb(25, 53, 79);
$border-color:  rgb(27, 115, 144);
$text-color:  rgb(201, 232, 242);
$color-bright:  rgb(87, 206, 246);
$border: 2px solid $border-color;
$padding: 2rem;
$transition: all ease 0.5s;

body {
  background-color: $bg-color;
  font: normal normal 16px/20px Bellota, sans-serif;
  color: $text-color;
}

.gallery {
  margin: 0 auto;
  padding: $padding;

  &__title {
    text-align: center;
    margin-bottom: $padding;
    font-size: 2.5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $padding;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  border: $border;
  border-radius: 0.3rem;
  padding: $padding;
  position: relative;
  transition: $transition;

  &__title {
    font-size: 1.6rem;
    text-align: center;
  }

  &__paragraph {
    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }

  &__img-container {
    img {
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  //button styles
  &__btn {
    padding: $padding * 0.25;
    cursor: pointer;
    border: $border;
    border-radius: 0.3rem;
    background-color: $color-bright;
    transition: $transition;

    &:hover {
      background-color: $border-color;
      color: $text-color;
    }

    &:active {
      background-color: $border-color;
      color: $text-color;
      transform: scale(0.95);
    }
  }

  //rating styles
  .rating {
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    line-height: 0.75;

    &__body {
      position: relative;

      &::before {
        content: "★★★★★";
        display: block;
      }
    }

    &__items {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &__item {
      flex: 0 0 20%;
      height: 100%;
      opacity: 0;
    }

    &__active {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;

      &::before {
        content: "★★★★★";
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        color: $border-color;
      }
    }

    &__value {
      font-size: 80%;
      padding-left: 1.2rem;
      line-height: 1;
    }
  }

  //popup styles
  &__popup {
    background-color: $border-color;
    padding: $padding * 0.75;
    border-radius: 0.3rem;
    top: $padding * 2;
    position: absolute;
    transition: $transition;
    transform: scale(0);
    transition: $transition;
    cursor: pointer;

    &.active {
      transform: scale(1);
    }
  }
}

//media queries
@media all and (max-width: 1120px) {
  .gallery {
    &__title {
      font-size: 1.8rem;
    }

    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .item {
    &__title {
      font-size: 1.3rem;
    }

    // &__star {
    //   width: 2.3rem;
    // }
  }
}

@media all and (max-width: 700px) {
  .gallery {
    &__container {
      grid-template-columns: 1fr;
    }
  }

  // .item {
  //   &__star {
  //     width: 1.7rem;
  //   }
  // }
}

@media all and (max-width: 450px) {
  body {
    font-size: 14px;
  }

  .gallery {
    padding: $padding * 0.75;

    &__title {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .item {
    padding: $padding * 0.5;
    // &__star {
    //   width: 1.5rem;
    // }
  }
}