@font-face {
  font-family: 'MerReg';
  src: url('../assets/fonts/Merienda-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(182, 227, 240);
  font: normal normal 20px/24px MerReg, sans-serif;
  color: rgb(18, 79, 97);
}

.todo-list {
  max-width: 70%;
  margin: 2rem auto;
  border: 1px solid rgb(20, 192, 240);
  border-radius: 0.3rem;
  background-color: rgb(231, 246, 251);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &__input {
    width: 25rem;
    padding: 1rem;
    border: 1px solid rgb(20, 192, 240);
    border-radius: 0.3rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  &__no-tasks-message {
    color:  rgb(120, 124, 125);
  }
}

.button {
  padding: 1rem 2rem;
  border: 1px solid rgb(20, 192, 240);
  border-radius: 0.3rem;
  background-color: rgb(182, 227, 240);
  cursor: pointer;
  transition: all 0.7s ease;

  //for script
  &:not([disabled]):hover {
    transform: scale(0.95);
  }

  &:not([disabled]):active {
    transform: scale(0.95);
    background-color: rgb(52, 139, 165);
    color: white;
  }
}

// .todo-list__clear,
// .todo-list__button {
//   &:disabled {
//     opacity: 0.5;
//     cursor: none;
//   }

//   &:not([disabled]):hover {
//     transform: scale(0.95);
//   }

//   &:not([disabled]):active {
//     transform: scale(0.95);
//     background-color: rgb(52, 139, 165);
//     color: white;
//   }


// }
  // for cat-script
